.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-text100 {
  display: inline-block;
}
 
.home-text101 {
  display: inline-block;
}
 
.home-text102 {
  display: inline-block;
}
 
.home-text103 {
  display: inline-block;
}
 
.home-text104 {
  display: inline-block;
}
 
.home-text105 {
  display: inline-block;
}
 
.home-text106 {
  display: inline-block;
}
 
.home-text107 {
  display: inline-block;
}
 
.home-text108 {
  display: inline-block;
}
 
.home-text109 {
  display: inline-block;
}
 
.home-text110 {
  display: inline-block;
}
 
.home-text111 {
  display: inline-block;
}
 
.home-text112 {
  display: inline-block;
}
 
.home-text115 {
  display: inline-block;
}
 
.home-text118 {
  display: inline-block;
}
 
.home-text121 {
  display: inline-block;
  font-family: "Georgia";
}
 
.home-text122 {
  display: inline-block;
  font-family: "Georgia";
}
 
.home-text123 {
  display: inline-block;
}
 
.home-text126 {
  display: inline-block;
}
 
.home-text127 {
  display: inline-block;
}
 
.home-text128 {
  display: inline-block;
}
 
.home-text129 {
  display: inline-block;
}
 
.home-text132 {
  display: inline-block;
}
 
.home-text135 {
  display: inline-block;
}
 
.home-text138 {
  display: inline-block;
}
 
.home-text141 {
  display: inline-block;
}
 
.home-text142 {
  display: inline-block;
}
 
.home-text145 {
  display: inline-block;
}
 
.home-text148 {
  display: inline-block;
}
 
.home-text151 {
  display: inline-block;
}
 
.home-text154 {
  display: inline-block;
}
 
.home-text157 {
  display: inline-block;
}
 
.home-text160 {
  display: inline-block;
}
 
.home-text163 {
  display: inline-block;
}
 
.home-text166 {
  display: inline-block;
}
 
.home-text169 {
  display: inline-block;
}
 
.home-text172 {
  display: inline-block;
}
 
.home-text175 {
  padding-top: var(--dl-space-space-twounits);
}
 
.home-text178 {
  display: inline-block;
}
 
.home-text181 {
  display: inline-block;
}
 
.home-text182 {
  display: inline-block;
}
 
.home-text183 {
  display: inline-block;
}
 
.home-text186 {
  display: inline-block;
}
 
.home-text189 {
  display: inline-block;
}
 
.home-text192 {
  display: inline-block;
}
 
.home-text195 {
  display: inline-block;
}
 
.home-text198 {
  display: inline-block;
}
 
.home-text199 {
  display: inline-block;
}
 
.home-text200 {
  display: inline-block;
}
 
.home-text205 {
  display: inline-block;
}
 
.home-text208 {
  display: inline-block;
}
 
.home-text211 {
  display: inline-block;
}
 
.home-text212 {
  display: inline-block;
}
 
.home-text213 {
  display: inline-block;
}
 
.home-text214 {
  display: inline-block;
}
 
.home-text215 {
  display: inline-block;
}
 
.home-text216 {
  display: inline-block;
}
 
.home-text217 {
  display: inline-block;
}
 
.home-text218 {
  display: inline-block;
}
 
.home-text219 {
  display: inline-block;
}
 
.home-text220 {
  display: inline-block;
}
 
.home-text221 {
  display: inline-block;
}
 
.home-text222 {
  display: inline-block;
}
 
.home-text223 {
  display: inline-block;
}
 
.home-text224 {
  display: inline-block;
}
 
.home-text225 {
  display: inline-block;
}
 
.home-text226 {
  display: inline-block;
}
